.header-container{
    background-color: #fff;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100%;

    overflow: hidden;

    .ham-menu {
        border: none;
        
        width: 25vw;
        
        img {
            width: 35px;
            height: 35px;

            border: none;

            background-color: black;

            margin: 0 auto;
        }
    }

    .logo {
        width: 50%;
        max-width: 500px;
        margin: 0 auto;
    }

    .user-nav{
        margin: 20px auto auto auto;
        ul{
            li{
                img{
                    max-width: 50px;
                }
            }
        }
    }

    nav {
        ul {
            li {
                display: inline;
            }
        }
    }
}