.header-container{
    background-color: #fff;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100%;

    overflow: hidden;

    .ham-menu {
        border: none;
        width: 25vw;
        
        img {
            width: 10vw;
            max-width: 25px;
        }
    }

    .logo {
        width: 50%;
        max-width: 500px;
        margin: 0 auto;
    }

    .search-bar {
        display: flex;
        flex-direction: row;

        .search-button{
            width: 7vw;
            border: none;
        }

        input{
            width: 18vw;
            border: none;
            padding: 0;
            margin: 0;
        }
    }

    nav {
        ul {
            li {
                display: inline;
            }
        }
    }
}