<header class="header-container">
	<button v-if="currentuser" class="ham-menu" @click="showMenu"><img src="" alt=""></button>

	<nav class="ham-nav-container hidden">
		<ul class="ham-nav">
			<li>Home</li>
			<li>Movies</li>
			<li>TV</li>
			<li>Music</li>
		</ul>

		<ul class="ham-footer">
			<li>Privacy</li>
			<li>Contact Us</li>
			<li>Terms Of Use</li>
			<li>Legal Notices</li>
			<li>Help Center</li>
		</ul>
	</nav>

	<img class="logo" src="images/roku_light-logo.svg" alt="Roku logo" width="90">

	<nav>
		<ul v-if="currentuser">           
			<li v-if="currentuser.user_avatar"><img class="small-avatar-rounded" :src='"images/" + currentuser.user_avatar'></li>
			<li v-if="currentuser.user_admin"><i class="fas fa-cog"></i></li>
			<li @click="logout"><i class="fas fa-power-off"></i></li>					
		</ul>
	</nav>
</header>
		

